<IfModule mod_rewrite.c>
    RewriteEngine On
    # この行の追加 /blog/のみ.htaccessのリライトルールの例外にする
    RewriteCond $1 !^/bbc/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>